<main class="container">
  <header class="row">
    <div class="bg-info mb-4 col-12">
      <h1 class="p-5">Smart Fridge Manager</h1>
    </div>
  </header>

  <section class="row">
    <aside class="item-list bg-success col-lg-4 col-md-5">
      <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item ahwjebajhbdw</li>
      </ul>
    </aside>
    <article class="item-panel bg-light p-4 text-center col-lg-8 col-md-7">
      <div class="row">
        <div class="col">
          <label> Item to Add
            <input type="text" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label> Fill Level to query
            <input type="range" />
          </label>
        </div>
      </div>
    </article>
  </section>
</main>